<h1>New task</h1>
<%= form_with(model: Task.new, url: "/tasks", method: :post, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :title, "Title", class: "form-label"  %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :details, "Details", class: "form-label" %>
    <%= form.text_area :details, class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Create Task", class: "btn btn-primary" %>
  </div>
  <p><%= link_to "Back to list", tasks_path %></p>
<% end %>
